<div class="panel-heading">
    <h3 class="panel-title">@Model.Client.Nume</h3>
</div>

<div class="panel-body">
    Descriere: @Model.Descriere
    <br />
    Numar: @Model.Numar
    <span class="label label-info pull-right">@Model.DataEmitere.ToString("dd/MM/yyyy")</span>

</div>