@model DAW_Lab_4.Models.Category

<h1>Adaugare categorie</h1>

<form method="post" action="/Categories/New">

    @Html.Label("Name", "Nume categorie")
    @Html.TextBox("Name", null, new { @class = "form-control" })
    <br />

    <button class="btn btn-success" type="submit">Adauga categorie</button>
</form>

