
@{
    ViewBag.Title = "Index";
}

<h1>Categorii</h1>

<h2>@ViewBag.Message</h2>

<a class="btn btn-primary" href="/Categories/New">Categorie noua</a>
<a class="btn btn-info pull-right" href="/Articles/Index/">Afisare articole</a>

<br />
<br />

@foreach (var category in ViewBag.Categories)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@category.Name</h3>
        </div>

        <div class="panel-body">
            <p>@category.CategoryId</p>
        </div>

        <div class="panel-footer">
            <a class="btn btn-success btn-sm" href="/Categories/Show/@category.CategoryId">Afisare categorie</a>
        </div>

    </div>
}


